<div style="background-color: rgb(218, 218, 218);">
    <p>Your post:</p>
    <strong><%= post.content %></strong>
    <p>is uploaded to VirtualHub </p>
    <p>Thanks you for using our services</p>
</div>